.team {
  border-width: 5px 0 0 0;
  border-style: solid solid solid solid;
  border-color: #d24332 #f9f9f9 #f9f9f9 #f9f9f9;
  border-radius: 25px;
  box-shadow: 5px 18px 30px #00000029;
  height: 230px;
  position: relative;
}

.team > h2 {
  font-size: 1.375em;
  color: #434242;
  font-weight: bold;
  margin: 30px 0 20px 30px;
}

.team > p {
  font-size: 0.9em;
  color: #434242;
  width: 80%;
  margin-left: 30px;
}

.team > svg {
  position: absolute;
  top: 64%;
  left: 67%;
}
