.text_title {
  text-align: center;
}

h1 {
  font: 2em "Montserrat", sans-serif;
  color: #434242;
  font-weight: 900;
  opacity: 1;
}

h2 {
  font: 1.3em "Montserrat", sans-serif;
  color: #707070;
  opacity: 1;
  margin: 1em 0 0.5em 0;
}

h3 {
  font: 1.3em "Montserrat", sans-serif;
  color: #707070;
  opacity: 1;
  width: 75%;
  margin: 0.5em auto;
}
